##### 3. Write a program, which would download the data from the provided link, and then read the data and convert that into properly structured data and return it in Excel format.

In [1]:
# Installing required packages

import requests
import json
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

In [2]:
def download_data(url):     # Downloading the data from the provided url.

    try:
        response = requests.get(url)
        response.raise_for_status()
    
    except requests.exceptions.HTTPError as error:
        print(f"HTTP error occurred: {error}")

    except requests.exceptions.RequestException as error:
        print(f"An error occurred: {error}")
    
    raw_data = response.json()

    # Extracting the required data from the raw data.

    data = []
    for pk in raw_data['pokemon']:
        json_data = {
            'id': pk['id'],
            'num': pk['num'],
            'name': pk['name'],
            'img': pk['img'],
            'type': ", ".join(pk['type']),
            'height': pk['height'],
            'weight': pk['weight'],
            'candy': pk.get('candy', ""),
            'candy_count': pk.get('candy_count', ""),
            'egg': pk.get('egg', ""),
            'spawn_chance': pk.get('spawn_chance', ""),
            'avg_spawns': pk.get('avg_spawns', ""),
            'spawn_time': pk.get('spawn_time', ""),
            'weakness': ", ".join(pk['weaknesses']),
            'next_evolution': [evolution['name'] for evolution in pk.get('next_evolution', [])],
            'prev_evolution': [evolution['name'] for evolution in pk.get('prev_evolution', [])]
        }
        data.append(json_data)

    # Converting the extracted data into a DataFrame.

    try:
        df = pd.DataFrame(data)
    except ValueError as error:
        print(f"ValueError occurred: {error}")
        
    
    # Saving the DataFrame to Excel format
    
    try:
        df.to_excel('pokemon.xlsx', index=False)
    except Exception as error:
        print(f"An error occurred while saving the file: {error}")
        

    print("Data save successfully...üëç")

# Providing url for the data.

url = 'https://raw.githubusercontent.com/Biuni/PokemonGO-Pokedex/master/pokedex.json'

# Testing our function

download_data(url)

<ipython-input-2-3e059651501d>:50: UserWarning: Pandas requires version '1.4.3' or newer of 'xlsxwriter' (version '1.3.7' currently installed).
  df.to_excel('pokemon.xlsx', index=False)

An error occurred while saving the file: [Errno 13] Permission denied: 'pokemon.xlsx'
Data save successfully...üëç

In [3]:
pd.read_excel('pokemon.xlsx')       # Reading Dataset

,id,num,name,img,type,height,weight,candy,candy_count,egg,spawn_chance,avg_spawns,spawn_time,weakness,next_evolution,prev_evolution
0,1,1,Bulbasaur,http://www.serebii.net/pokemongo/pokemon/001.png,"Grass, Poison",0.71 m,6.9 kg,Bulbasaur Candy,25.0,2 km,0.6900,69.00,20:00,"Fire, Ice, Flying, Psychic","['Ivysaur', 'Venusaur']",[]
1,2,2,Ivysaur,http://www.serebii.net/pokemongo/pokemon/002.png,"Grass, Poison",0.99 m,13.0 kg,Bulbasaur Candy,100.0,Not in Eggs,0.0420,4.20,07:00,"Fire, Ice, Flying, Psychic",['Venusaur'],['Bulbasaur']
2,3,3,Venusaur,http://www.serebii.net/pokemongo/pokemon/003.png,"Grass, Poison",2.01 m,100.0 kg,Bulbasaur Candy,NaN,Not in Eggs,0.0170,1.70,11:30,"Fire, Ice, Flying, Psychic",[],"['Bulbasaur', 'Ivysaur']"
3,4,4,Charmander,http://www.serebii.net/pokemongo/pokemon/004.png,Fire,0.61 m,8.5 kg,Charmander Candy,25.0,2 km,0.2530,25.30,08:45,"Water, Ground, Rock","['Charmeleon', 'Charizard']",[]
4,5,5,Charmeleon,http://www.serebii.net/pokemongo/pokemon/005.png,Fire,1.09 m,19.0 kg,Charmander Candy,100.0,Not in Eggs,0.0120,1.20,19:00,"Water, Ground, Rock",['Charizard'],['Charmander']
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146,147,147,Dratini,http://www.serebii.net/pokemongo/pokemon/147.png,Dragon,1.80 m,3.3 kg,Dratini Candy,25.0,10 km,0.3000,30.00,06:41,"Ice, Dragon, Fairy","['Dragonair', 'Dragonite']",[]
147,148,148,Dragonair,http://www.serebii.net/pokemongo/pokemon/148.png,Dragon,3.99 m,16.5 kg,Dratini Candy,100.0,Not in Eggs,0.0200,2.00,11:57,"Ice, Dragon, Fairy",['Dragonite'],['Dratini']
148,149,149,Dragonite,http://www.serebii.net/pokemongo/pokemon/149.png,"Dragon, Flying",2.21 m,210.0 kg,Dratini Candy,NaN,Not in Eggs,0.0011,0.11,23:38,"Ice, Rock, Dragon, Fairy",[],"['Dratini', 'Dragonair']"
149,150,150,Mewtwo,http://www.serebii.net/pokemongo/pokemon/150.png,Psychic,2.01 m,122.0 kg,None,NaN,Not in Eggs,0.0000,0.00,NaN,"Bug, Ghost, Dark",[],[]
150,151,151,Mew,http://www.serebii.net/pokemongo/pokemon/151.png,Psychic,0.41 m,4.0 kg,None,NaN,Not in Eggs,0.0000,0.00,NaN,"Bug, Ghost, Dark",[],[]

In [4]:
raw_dataset = pd.read_excel('pokemon.xlsx')     # Storing data into raw_dataset variable.

In [5]:
raw_dataset.shape       # Checking shape of the dataset

(151, 16)

In [6]:
raw_dataset.head()      # Top 5 records of the dataset

,id,num,name,img,type,height,weight,candy,candy_count,egg,spawn_chance,avg_spawns,spawn_time,weakness,next_evolution,prev_evolution
0,1,1,Bulbasaur,http://www.serebii.net/pokemongo/pokemon/001.png,"Grass, Poison",0.71 m,6.9 kg,Bulbasaur Candy,25.0,2 km,0.690,69.0,20:00,"Fire, Ice, Flying, Psychic","['Ivysaur', 'Venusaur']",[]
1,2,2,Ivysaur,http://www.serebii.net/pokemongo/pokemon/002.png,"Grass, Poison",0.99 m,13.0 kg,Bulbasaur Candy,100.0,Not in Eggs,0.042,4.2,07:00,"Fire, Ice, Flying, Psychic",['Venusaur'],['Bulbasaur']
2,3,3,Venusaur,http://www.serebii.net/pokemongo/pokemon/003.png,"Grass, Poison",2.01 m,100.0 kg,Bulbasaur Candy,NaN,Not in Eggs,0.017,1.7,11:30,"Fire, Ice, Flying, Psychic",[],"['Bulbasaur', 'Ivysaur']"
3,4,4,Charmander,http://www.serebii.net/pokemongo/pokemon/004.png,Fire,0.61 m,8.5 kg,Charmander Candy,25.0,2 km,0.253,25.3,08:45,"Water, Ground, Rock","['Charmeleon', 'Charizard']",[]
4,5,5,Charmeleon,http://www.serebii.net/pokemongo/pokemon/005.png,Fire,1.09 m,19.0 kg,Charmander Candy,100.0,Not in Eggs,0.012,1.2,19:00,"Water, Ground, Rock",['Charizard'],['Charmander']

In [7]:
raw_dataset.isnull().sum()  # Checking Missing Values.

id                 0
num                0
name               0
img                0
type               0
height             0
weight             0
candy              0
candy_count       81
egg                0
spawn_chance       0
avg_spawns         0
spawn_time         6
weakness           0
next_evolution     0
prev_evolution     0
dtype: int64

- Their are missing values in the ***candy_count*** and ***spawn_time*** column.

In [8]:
raw_dataset.dtypes      # Checking datatypes of each features.

id                  int64
num                 int64
name               object
img                object
type               object
height             object
weight             object
candy              object
candy_count       float64
egg                object
spawn_chance      float64
avg_spawns        float64
spawn_time         object
weakness           object
next_evolution     object
prev_evolution     object
dtype: object

In [9]:
dataset = raw_dataset       # Copying data into dataset variable for backup purpose.

#### Feature Engineering

In [10]:
dataset.head()

,id,num,name,img,type,height,weight,candy,candy_count,egg,spawn_chance,avg_spawns,spawn_time,weakness,next_evolution,prev_evolution
0,1,1,Bulbasaur,http://www.serebii.net/pokemongo/pokemon/001.png,"Grass, Poison",0.71 m,6.9 kg,Bulbasaur Candy,25.0,2 km,0.690,69.0,20:00,"Fire, Ice, Flying, Psychic","['Ivysaur', 'Venusaur']",[]
1,2,2,Ivysaur,http://www.serebii.net/pokemongo/pokemon/002.png,"Grass, Poison",0.99 m,13.0 kg,Bulbasaur Candy,100.0,Not in Eggs,0.042,4.2,07:00,"Fire, Ice, Flying, Psychic",['Venusaur'],['Bulbasaur']
2,3,3,Venusaur,http://www.serebii.net/pokemongo/pokemon/003.png,"Grass, Poison",2.01 m,100.0 kg,Bulbasaur Candy,NaN,Not in Eggs,0.017,1.7,11:30,"Fire, Ice, Flying, Psychic",[],"['Bulbasaur', 'Ivysaur']"
3,4,4,Charmander,http://www.serebii.net/pokemongo/pokemon/004.png,Fire,0.61 m,8.5 kg,Charmander Candy,25.0,2 km,0.253,25.3,08:45,"Water, Ground, Rock","['Charmeleon', 'Charizard']",[]
4,5,5,Charmeleon,http://www.serebii.net/pokemongo/pokemon/005.png,Fire,1.09 m,19.0 kg,Charmander Candy,100.0,Not in Eggs,0.012,1.2,19:00,"Water, Ground, Rock",['Charizard'],['Charmander']

In [11]:
dataset.dtypes

id                  int64
num                 int64
name               object
img                object
type               object
height             object
weight             object
candy              object
candy_count       float64
egg                object
spawn_chance      float64
avg_spawns        float64
spawn_time         object
weakness           object
next_evolution     object
prev_evolution     object
dtype: object

In [12]:
dataset['height']=dataset['height'].str.split(' ').str[0]       # In height column,their is letter 'm' we will remove it.

In [13]:
dataset.head()

,id,num,name,img,type,height,weight,candy,candy_count,egg,spawn_chance,avg_spawns,spawn_time,weakness,next_evolution,prev_evolution
0,1,1,Bulbasaur,http://www.serebii.net/pokemongo/pokemon/001.png,"Grass, Poison",0.71,6.9 kg,Bulbasaur Candy,25.0,2 km,0.690,69.0,20:00,"Fire, Ice, Flying, Psychic","['Ivysaur', 'Venusaur']",[]
1,2,2,Ivysaur,http://www.serebii.net/pokemongo/pokemon/002.png,"Grass, Poison",0.99,13.0 kg,Bulbasaur Candy,100.0,Not in Eggs,0.042,4.2,07:00,"Fire, Ice, Flying, Psychic",['Venusaur'],['Bulbasaur']
2,3,3,Venusaur,http://www.serebii.net/pokemongo/pokemon/003.png,"Grass, Poison",2.01,100.0 kg,Bulbasaur Candy,NaN,Not in Eggs,0.017,1.7,11:30,"Fire, Ice, Flying, Psychic",[],"['Bulbasaur', 'Ivysaur']"
3,4,4,Charmander,http://www.serebii.net/pokemongo/pokemon/004.png,Fire,0.61,8.5 kg,Charmander Candy,25.0,2 km,0.253,25.3,08:45,"Water, Ground, Rock","['Charmeleon', 'Charizard']",[]
4,5,5,Charmeleon,http://www.serebii.net/pokemongo/pokemon/005.png,Fire,1.09,19.0 kg,Charmander Candy,100.0,Not in Eggs,0.012,1.2,19:00,"Water, Ground, Rock",['Charizard'],['Charmander']

In [14]:
dataset['weight']=dataset['weight'].str.split(' ').str[0]       ## In weight column,their is 'kg' word we will remove it.

In [15]:
dataset.head()

,id,num,name,img,type,height,weight,candy,candy_count,egg,spawn_chance,avg_spawns,spawn_time,weakness,next_evolution,prev_evolution
0,1,1,Bulbasaur,http://www.serebii.net/pokemongo/pokemon/001.png,"Grass, Poison",0.71,6.9,Bulbasaur Candy,25.0,2 km,0.690,69.0,20:00,"Fire, Ice, Flying, Psychic","['Ivysaur', 'Venusaur']",[]
1,2,2,Ivysaur,http://www.serebii.net/pokemongo/pokemon/002.png,"Grass, Poison",0.99,13.0,Bulbasaur Candy,100.0,Not in Eggs,0.042,4.2,07:00,"Fire, Ice, Flying, Psychic",['Venusaur'],['Bulbasaur']
2,3,3,Venusaur,http://www.serebii.net/pokemongo/pokemon/003.png,"Grass, Poison",2.01,100.0,Bulbasaur Candy,NaN,Not in Eggs,0.017,1.7,11:30,"Fire, Ice, Flying, Psychic",[],"['Bulbasaur', 'Ivysaur']"
3,4,4,Charmander,http://www.serebii.net/pokemongo/pokemon/004.png,Fire,0.61,8.5,Charmander Candy,25.0,2 km,0.253,25.3,08:45,"Water, Ground, Rock","['Charmeleon', 'Charizard']",[]
4,5,5,Charmeleon,http://www.serebii.net/pokemongo/pokemon/005.png,Fire,1.09,19.0,Charmander Candy,100.0,Not in Eggs,0.012,1.2,19:00,"Water, Ground, Rock",['Charizard'],['Charmander']

In [16]:
dataset['egg'].value_counts()

Not in Eggs      77
5 km             42
10 km            17
2 km             14
Omanyte Candy     1
Name: egg, dtype: int64

- We will replace ***Not in Eggs*** and ***Omanyte Candy*** with 0 because ***Omanyte Candy*** is missing value and ***Not in Eggs*** means that they don't need to travel to hatch the egg.

In [17]:
dataset['egg'] = dataset['egg'].replace({'Not in Eggs':'0','Omanyte Candy':'0'})

In [18]:
dataset['egg']

0       2 km
1          0
2          0
3       2 km
4          0
       ...
146    10 km
147        0
148        0
149        0
150        0
Name: egg, Length: 151, dtype: object

In [19]:
dataset['egg'].value_counts()

0        78
5 km     42
10 km    17
2 km     14
Name: egg, dtype: int64

In [20]:
dataset['egg'] = dataset['egg'].str.split(' ').str[0]       ## In egg column,their is 'km' word we will remove it.

In [21]:
dataset['egg']

0       2
1       0
2       0
3       2
4       0
       ..
146    10
147     0
148     0
149     0
150     0
Name: egg, Length: 151, dtype: object

In [22]:
dataset

,id,num,name,img,type,height,weight,candy,candy_count,egg,spawn_chance,avg_spawns,spawn_time,weakness,next_evolution,prev_evolution
0,1,1,Bulbasaur,http://www.serebii.net/pokemongo/pokemon/001.png,"Grass, Poison",0.71,6.9,Bulbasaur Candy,25.0,2,0.6900,69.00,20:00,"Fire, Ice, Flying, Psychic","['Ivysaur', 'Venusaur']",[]
1,2,2,Ivysaur,http://www.serebii.net/pokemongo/pokemon/002.png,"Grass, Poison",0.99,13.0,Bulbasaur Candy,100.0,0,0.0420,4.20,07:00,"Fire, Ice, Flying, Psychic",['Venusaur'],['Bulbasaur']
2,3,3,Venusaur,http://www.serebii.net/pokemongo/pokemon/003.png,"Grass, Poison",2.01,100.0,Bulbasaur Candy,NaN,0,0.0170,1.70,11:30,"Fire, Ice, Flying, Psychic",[],"['Bulbasaur', 'Ivysaur']"
3,4,4,Charmander,http://www.serebii.net/pokemongo/pokemon/004.png,Fire,0.61,8.5,Charmander Candy,25.0,2,0.2530,25.30,08:45,"Water, Ground, Rock","['Charmeleon', 'Charizard']",[]
4,5,5,Charmeleon,http://www.serebii.net/pokemongo/pokemon/005.png,Fire,1.09,19.0,Charmander Candy,100.0,0,0.0120,1.20,19:00,"Water, Ground, Rock",['Charizard'],['Charmander']
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146,147,147,Dratini,http://www.serebii.net/pokemongo/pokemon/147.png,Dragon,1.80,3.3,Dratini Candy,25.0,10,0.3000,30.00,06:41,"Ice, Dragon, Fairy","['Dragonair', 'Dragonite']",[]
147,148,148,Dragonair,http://www.serebii.net/pokemongo/pokemon/148.png,Dragon,3.99,16.5,Dratini Candy,100.0,0,0.0200,2.00,11:57,"Ice, Dragon, Fairy",['Dragonite'],['Dratini']
148,149,149,Dragonite,http://www.serebii.net/pokemongo/pokemon/149.png,"Dragon, Flying",2.21,210.0,Dratini Candy,NaN,0,0.0011,0.11,23:38,"Ice, Rock, Dragon, Fairy",[],"['Dratini', 'Dragonair']"
149,150,150,Mewtwo,http://www.serebii.net/pokemongo/pokemon/150.png,Psychic,2.01,122.0,None,NaN,0,0.0000,0.00,NaN,"Bug, Ghost, Dark",[],[]
150,151,151,Mew,http://www.serebii.net/pokemongo/pokemon/151.png,Psychic,0.41,4.0,None,NaN,0,0.0000,0.00,NaN,"Bug, Ghost, Dark",[],[]

In [33]:
dataset['spawn_time'] .str.split(':').str[0]

0       20
1       07
2       11
3       08
4       19
      ...
146     06
147     11
148     23
149    NaN
150    NaN
Name: spawn_time, Length: 151, dtype: object

In [25]:
dataset['spawn_time_minutes'] = dataset['spawn_time'] .str.split(':').str[0]

In [34]:
dataset['spawn_time'] .str.split(':').str[1]

0       00
1       00
2       30
3       45
4       00
      ...
146     41
147     57
148     38
149    NaN
150    NaN
Name: spawn_time, Length: 151, dtype: object

In [31]:
dataset['spawn_time_seconds'] = dataset['spawn_time'] .str.split(':').str[1]

In [32]:
dataset.head()

,id,num,name,img,type,height,weight,candy,candy_count,egg,spawn_chance,avg_spawns,spawn_time,weakness,next_evolution,prev_evolution,spawn_time_minutes,spawn_time_seconds
0,1,1,Bulbasaur,http://www.serebii.net/pokemongo/pokemon/001.png,"Grass, Poison",0.71,6.9,Bulbasaur Candy,25.0,2,0.690,69.0,20:00,"Fire, Ice, Flying, Psychic","['Ivysaur', 'Venusaur']",[],20,00
1,2,2,Ivysaur,http://www.serebii.net/pokemongo/pokemon/002.png,"Grass, Poison",0.99,13.0,Bulbasaur Candy,100.0,0,0.042,4.2,07:00,"Fire, Ice, Flying, Psychic",['Venusaur'],['Bulbasaur'],07,00
2,3,3,Venusaur,http://www.serebii.net/pokemongo/pokemon/003.png,"Grass, Poison",2.01,100.0,Bulbasaur Candy,NaN,0,0.017,1.7,11:30,"Fire, Ice, Flying, Psychic",[],"['Bulbasaur', 'Ivysaur']",11,30
3,4,4,Charmander,http://www.serebii.net/pokemongo/pokemon/004.png,Fire,0.61,8.5,Charmander Candy,25.0,2,0.253,25.3,08:45,"Water, Ground, Rock","['Charmeleon', 'Charizard']",[],08,45
4,5,5,Charmeleon,http://www.serebii.net/pokemongo/pokemon/005.png,Fire,1.09,19.0,Charmander Candy,100.0,0,0.012,1.2,19:00,"Water, Ground, Rock",['Charizard'],['Charmander'],19,00

In [35]:
dataset['height']=dataset['height'].astype(float)
dataset['weight']=dataset['weight'].astype(float)
dataset['egg']=dataset['egg'].astype(float)
dataset['spawn_time_minutes']=dataset['spawn_time_minutes'].astype(float)
dataset['spawn_time_seconds']=dataset['spawn_time_seconds'].astype(float)

In [36]:
dataset.dtypes

id                      int64
num                     int64
name                   object
img                    object
type                   object
height                float64
weight                float64
candy                  object
candy_count           float64
egg                   float64
spawn_chance          float64
avg_spawns            float64
spawn_time             object
weakness               object
next_evolution         object
prev_evolution         object
spawn_time_minutes    float64
spawn_time_seconds    float64
dtype: object