##### Q-6. A pharmaceutical company is developing a drug that is supposed to reduce blood pressure. They conduct a clinical trial with 100 patients and record their blood pressure before and after taking the drug. The company wants to know if the change in blood pressure follows a normal distribution.

In [1]:
# Importing required packages

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats

In [2]:
dataset = pd.read_csv('data.csv')       # Reading Dataset

In [3]:
dataset.isnull().sum()      # Checking Missing Value

Patient ID                       0
 Blood Pressure Before (mmHg)    0
 Blood Pressure After (mmHg)     0
dtype: int64

- No Missing Values.

In [4]:
dataset['Patient ID'].unique()      # Checking Unique Values

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100], dtype=int64)

- Droppping ***Patient ID*** column which is not in use.

In [5]:
dataset.drop(columns='Patient ID',inplace = True)

In [6]:
dataset.head()      # Top 5 records of the dataset.

    Blood Pressure Before (mmHg)   Blood Pressure After (mmHg)
0                            130                           120
1                            142                           135
2                            120                           118
3                            135                           127
4                            148                           140

In [7]:
# Rename the columns for better understanding.

dataset.rename(columns = {' Blood Pressure Before (mmHg)': 'Blood Pressure Before',
                          ' Blood Pressure After (mmHg)': 'Blood Pressure After'}, inplace = True)

In [8]:
dataset.head()      # Top 5 records of the dataset.

   Blood Pressure Before  Blood Pressure After
0                    130                   120
1                    142                   135
2                    120                   118
3                    135                   127
4                    148                   140

In [9]:
change_in_bp = dataset['Blood Pressure After'] - dataset['Blood Pressure Before']

In [10]:
statistic, p_value = stats.shapiro(change_in_bp)        # Perform the Shapiro-Wilk test

In [11]:
alpha = 0.05

In [12]:
print("Statistic value is",statistic)
print("p_value value is",p_value)
if p_value > alpha:
    print("Therefore, the change in blood pressure follows a Normal Distribution.")
else:
    print("Therefore, the change in blood pressure does not follow a Normal Distribution.")

Statistic value is 0.9538203477859497
p_value value is 0.0014939684187993407
Therefore, the change in blood pressure does not follow a Normal Distribution.